// variables
$select-border-color: #ddd;

.cmb2-insertable-message {

	/**
	 * Select2 elements.
	 */
	.select2-drop,
	.select2-dropdown {
		z-index: 999999 !important;
	}

	.select2-results {
		line-height: 1.5;

		.select2-results__option,
		.select2-results__group {
			margin: 0;
			padding: 8px;
		}

		.description {
			display: block;
			//color: #999;
			padding-top: 4px;
		}
	}

	.select2-dropdown {
		border-color: $select-border-color;
	}

	.select2-dropdown--below {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	}

	.select2-dropdown--above {
		box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
	}

	.select2-container {

		.select2-selection {
			border-color: #ddd;
		}

		.select2-search__field {
			min-width: 150px;
		}

		.select2-selection--single {
			height: 32px;

			.select2-selection__rendered {
				line-height: 2;
				padding-right: 24px;
			}

			.select2-selection__arrow {
				right: 3px;
				height: 30px;
			}
		}

		.select2-selection--multiple {
			min-height: 28px;
			border-radius: 0;
			line-height: 1.5;

			li {
				margin: 0;
			}

			.select2-selection__choice {
				padding: 2px 6px;

				.description {
					display: none;
				}
			}
		}

		.select2-selection__clear {
			color: #999;
			margin-top: -1px;
		}

		.select2-search--inline
		.select2-search__field {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			padding: 3px 0;
		}

		.select2-selection__rendered.ui-sortable li {
			cursor: move;
		}

		/*.woocommerce table.form-table .select2-container {
			min-width: 400px !important;
		}*/
	}
}
