// variables. some of these match variables in minnpost-largo.
// override for theme-specific design requirements in minnpost-largo styles.

// media query sizes
$max-width-medium: 680px;
$max-width-page: 975px;

// type
$base-font-size: 13px; // 13px
$content-font-size: 1.23em; // 16px
$large-title-font-size: 1.75em;

// spacing
$cta-spacing: 8px; // similar to membership plugin

// main wrapper
// this can contain multiple items that are eligible to be displayed
.o-site-message-container {

	~ .o-site-message-container {
		display: none;
	}

	&.check-session-message {
		display: none;

		&.validated {
			display: block;
		}
	}

	// add a default assumption of horizontally centering
	// both the image and editor containers
	.m-wp-insert-message-images,
	.m-wp-insert-message-editor {
		margin-left: auto;
		margin-right: auto;
		max-width: $max-width-page;
	}

	// banner wrapper
	.m-wp-insert-message-item-banner {
		position: relative;
		width: 100%;
		padding: 1.2em 1.5em;
		margin: 1.5em auto;

		&.banner-width-page {
			max-width: $max-width-page;
		}

		h3 {
			font-family: sans-serif;
			font-size: $large-title-font-size;
			margin-bottom: 0.5em;
			line-height: 1;
		}

		p {
			font-family: sans-serif;
			font-size: $content-font-size;
			line-height: 1.4;
		}

		.disclaimer {
			margin-top: 0.5em;

			p {
				font-size: $base-font-size;
			}
		}

		a.a-button {
			padding: $cta-spacing 1em;
			border-radius: $cta-spacing;
			display: inline-block;
			font-size: $large-title-font-size;

			@media screen and (min-width: $max-width-medium) {
				white-space: nowrap;
			}
		}

		// Stacked Layout
		.stack-wrap {
			margin: 0 auto;
			text-align: center;
			max-width: $max-width-medium;
		}

		// Dual Col Layout
		.dual-wrap {

			@media screen and (min-width: $max-width-medium) {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				max-width: $max-width-page;
				margin: 0 auto;
			}

			&.flip {
				flex-direction: row-reverse;
			}

			.col {
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}

				@media screen and (min-width: $max-width-medium) {
					margin-bottom: 0;
					padding: 1.2em;
				}

				&.banner-icon {
					// Hide for mobile sizing
					display: none;

					@media screen and (min-width: $max-width-medium) {
						display: block;
						min-width: 75px;
						padding: 0.2em 1em 0.2em 0.2em;
					}
				}
			}
		}

		.m-form-container {
			padding: 0;

			fieldset {
				padding: 0;
				border: 0;

				.a-input-with-button {

					input {
						width: 75%;
					}
				}
			}
		}
	}

	// Popup specifics
	&.wp-message-inserter-message-region-popup {
		width: 100%;
		max-width: 100%;
		position: fixed;
		bottom: 0;
		margin: 0 auto;

		// default styles for the banner type
		.m-wp-insert-message-item-banner {
			width: 100%;
			padding: 0;
			font-size: 1em;
			font-family: sans-serif;
			margin: 0 auto;
		}

		// default styles for the editor type
		&.wp-message-inserter-message-editor {
			width: 100%;
			background: #000;
			color: #fff;

			.m-wp-insert-message-item {
				width: 100%;
				padding: $cta-spacing 0;
				font-size: 1em;
				font-family: sans-serif;
				max-width: $max-width-page;
				margin: 0 auto;
			}
		}

		// a popup can be validated but still not be visible
		&.validated {
			display: none;
		}

		&.wp-message-inserter-message-popup-visible {
			display: block;
		}

		.sm-close-btn {
			position: absolute;
			top: $cta-spacing;
			right: $cta-spacing * 2.5;
			color: #fff;
			font-size: $content-font-size;
		}
	}
}
