// variables
$max-width-medium: 680px;
$medium-margins-too-small: 700px;
$max-width-medium-plus-margins: 720px;
$max-width-page: 975px;
$max-width-story-2012: 452px;

// type
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__sans: Helvetica, Arial, sans-serif;
$font__serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font__headings: NimbusSanNovConD-Bol, Helvetica, Arial, Geneva, sans-serif;

// Font sizes
$base-font-size: 13px; // 13px
$content-font-size: 1.23em; // 16px
$meta-font-size: 92.3%; // 12px

// heading font sizes
$large-title-font-size: 215.4%;

// Line height
$base-line-height: 1.5;
$base-line-height-em: 1.5em;

// Outer Wrap
.m-wp-insert-message-item {
	position: relative;
	width: 100%;
	max-width: 875px;
	padding: 1.2em 1.5em;
	margin: 1.5em auto;
	background-size: cover;
	color: #fff;

	&.d-none {
		display: none;
	}

	h3 {
		font-family: $font__headings;
		font-feature-settings: "calt" off, "dlig" off, "ss01" off, "liga" off;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: $large-title-font-size;
		margin-bottom: 0.5em;
		line-height: 1em;
	}
	p {
		font-family: $font__sans;
		font-size: $content-font-size;
		line-height: 1.4em;
	}

	.disclaimer {
		margin-top: 0.5em;
		p {
			font-size: $base-font-size;
		}
	}

	a.a-button {
		padding: 0.3em 1em;
		border-radius: 0.3em;
		display: inline-block;
		font-size: $large-title-font-size;
		@media screen and (min-width: $max-width-medium) {
			white-space: nowrap;
		}
	}

	// Stacked Layout
	.stack-wrap {
		margin: 0 auto;
		text-align: center;
		max-width: $max-width-medium;
	}

	// Dual Col Layout
	.dual-wrap {
		@media screen and (min-width: $max-width-medium) {
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			max-width: $max-width-page;
			margin: 0 auto;
		}

		&.flip {
			flex-direction: row-reverse;
		}

		.col {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			@media screen and (min-width: $max-width-medium) {
				margin-bottom: 0;
				padding: 1.2em;
			}

			&.banner-icon {
				// Hide for mobile sizing
				display: none;
				@media screen and (min-width: $max-width-medium) {
					display: block;
					min-width: 75px;
					padding: 0.2em 1em 0.2em 0.2em;
				}
			}
		}
	}

	// Popup specifics
	&.pop-banner {
		max-width: 100%;
		position: fixed;
		bottom: 0;
		margin: 0 auto;

		.sm-close-btn {
			position: absolute;
			top: 10px;
			right: 10px;
			color: #fff;
			font-size: 16px;
		}
	}

	.m-form-container {
		padding: 0;

		fieldset {
			padding: 0;
			border: 0;

			.a-input-with-button {
				input {
					width: 75%;
				}
			}
		}
	}
}
