// variables. some of these match variables in minnpost-largo.
// override for theme-specific design requirements in minnpost-largo styles.

// media query sizes
$max-width-medium: 680px;
$max-width-page: 80em;

// spacing
$cta-spacing: 0.5em; // similar to membership plugin

// add a default assumption of horizontally centering
// both the image and editor containers
.m-wp-insert-message-images,
.m-wp-insert-message-editor,
.m-wp-insert-message-item-banner {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width-page;
}

// popup defaults
.wp-message-inserter-message-region-popup {
	margin: 0 auto;

	// default styles for the editor type in a popup
	&.wp-message-inserter-message-editor {
		width: 100%;
		background: #000;
		color: #fff;
	}

	.sm-close-btn {
		position: absolute;
		top: $cta-spacing / 2;
		right: $cta-spacing / 2;
		color: #fff;
		font-size: 2em;
		height: 1em;
		width: 1em;
		display: block;

		svg {
			pointer-events: none;
		}
	}
}

// main wrapper
// this can contain multiple items that are eligible to be displayed
// values not here are easier for the theme to override
.o-site-message-container {

	~ .o-site-message-container {
		display: none;
	}

	&.check-session-message {
		display: none;

		&.validated {
			display: block;
		}
	}

	// banner wrapper
	.m-wp-insert-message-item-banner {
		position: relative;
		width: 100%;
		padding: 1em (1.5em + $cta-spacing * 2.5) 1em 1em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;

		&.banner-width-page {
			max-width: $max-width-page;
		}

		.disclaimer {
			margin-top: $cta-spacing;
		}

		a.a-button {
			padding: $cta-spacing 1em;
			border-radius: $cta-spacing;
			display: inline-block;

			svg {
				margin-right: $cta-spacing / 2;
			}

			@media screen and (min-width: $max-width-medium) {
				white-space: nowrap;
			}
		}

		// Stacked Layout
		.stack-wrap {
			margin: 0 auto;
			text-align: center;
			max-width: $max-width-medium;
		}

		// Dual Col Layout
		.dual-wrap {

			@media screen and (min-width: $max-width-medium) {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				max-width: $max-width-page;
				margin: 0 auto;
			}

			&.flip {
				flex-direction: row-reverse;
			}

			.col {
				margin-bottom: 1.5em;

				&:last-child {
					margin-bottom: 0;
				}

				@media screen and (min-width: $max-width-medium) {
					margin-bottom: 0;
					padding: 1em;
				}

				&.banner-icon {
					// Hide for mobile sizing
					display: none;

					@media screen and (min-width: $max-width-medium) {
						display: block;
						min-width: 75px;
						padding: 0.2em 1em 0.2em 0.2em;
					}
				}
			}
		}

		.m-form-container {
			padding: 0;

			fieldset {
				padding: 0;
				border: 0;

				.a-input-with-button {

					input {
						width: 75%;
					}
				}
			}
		}
	}

	// Popup specifics
	&.wp-message-inserter-message-region-popup {
		width: 100%;
		max-width: 100%;
		position: fixed;
		z-index: 1999999999;
		bottom: 0;
		display: none;

		// default styles for the banner type
		.m-wp-insert-message-item-banner {
			width: 100%;
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;

			@media screen and (min-width: $max-width-medium) {
				padding: 0;
				text-align: left;
				// Stacked Layout
				.stack-wrap {
					padding: 1em 0;
					text-align: center;
				}
			}
		}

		// default styles for the editor type
		&.wp-message-inserter-message-editor {
			width: 100%;
			background: #000;
			color: #fff;

			.m-wp-insert-message-item {
				width: 100%;
				padding: $cta-spacing 0;
				max-width: $max-width-page;
				margin: 0 auto;
			}
		}

		// a popup can be validated but still not be visible
		&.validated {
			display: none;
		}

		&.wp-message-inserter-message-popup-visible {
			display: block;
		}
	}
}
